@{
    ViewData["Title"] = "Home Page";
    List<User>? users = ViewBag.Users;
}

<div class="text-center">
    <h1 class="display-4">Welcome Users</h1>
    <p>Users Screen.</p>
</div>
<h1>USERS</h1>
<br />
<a style="text-decoration:none;color:black;" href="/addUser"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="20px" height="20px"><path d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24 13 L 24 24 L 13 24 L 13 26 L 24 26 L 24 37 L 26 37 L 26 26 L 37 26 L 37 24 L 26 24 L 26 13 L 24 13 z" /></svg> <span>Add User</span></a>
<hr />


<br />
@if(users != null)
{
    <table class="table">
        <tr>
            <td>ID</td>
            <td>Username </td>
            <td>Address</td>
            <td></td>
        </tr>
    @for (int i = 0; i < users?.Count; i++)
    {
            <tr>
                <td>@users[i].ID</td>
                <td>@users[i].UserName </td>
                <td>@users[i].Address</td>
                <td>@Html.ActionLink("Remove", "DeleteRecord", "Api", new { id= users[i].ID  } , new { @class = "btn btn-primary"})</td>
                <td>@Html.ActionLink("Update", "UpdateRecord", "Home", new { userObjectString= Newtonsoft.Json.JsonConvert.SerializeObject(users[i]) } ,  new { @class = "btn btn-dark"})</td>
            </tr>
    }

    </table>
}

<hr />


